*, *::after, *::before{
    box-sizing: border-box;margin: 0;padding: 0;
    color:whitesmoke;
}
body{
  height: 100vh;
  background-image: linear-gradient(
  45deg,
  hsl(302deg 84% 55%) 0%,
  hsl(302deg 82% 59%) 11%,
  hsl(302deg 80% 63%) 22%,
  hsl(302deg 78% 66%) 33%,
  hsl(303deg 76% 70%) 44%,
  hsl(303deg 74% 74%) 56%,
  hsl(303deg 72% 77%) 67%,
  hsl(304deg 71% 81%) 78%,
  hsl(303deg 69% 85%) 89%,
  hsl(303deg 66% 88%) 100%
);
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  width:70%;
  min-height:95vh;
  border-radius: 20px;
   background-color: rgba(170, 11, 238, 0.149);
   display:flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}
.clock{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: relative;
  background-color: #e409a9b9;
  box-shadow:1px 1px 250px 50px rgb(229, 20, 252)  ;
  outline-offset:0px;
  outline-width:19px;
  outline-style:double;
  outline-color: rgb(193, 183, 183);
  &::after{
    content: '';
    position:absolute;
    background-color: #b9b0b0;
    z-index: 99;
    width: 14px;height: 14px;
    top: 50%;left: 50%;
    transform:translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 1px 1px 6px rgb(0, 0, 0);
    

  }
  .number {
    --rotation:0;
    position: absolute;
    font-size:2rem;
    width: 100%;height: 100%;
    text-align: center;
    transform:rotate(var(--rotation));
    font-family: 'Cardo', serif;
    text-transform: uppercase;
    text-shadow:1px 2px 8px rgb(247, 247, 247) ;
    
  }
  .number1{--rotation: 30deg}
  .number2{--rotation: 60deg}
  .number3{--rotation: 90deg}
  .number4{--rotation: 1200deg}
  .number5{--rotation: 150deg}
  .number6{--rotation: 180deg}
  .number7{--rotation: 210deg}
  .number8{--rotation: 240deg}
  .number9{--rotation: 270deg}
  .number10{--rotation: 300deg}
  .number11{--rotation: 330deg}
  .hand{
    --rotation:0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border: 1px solid rgb(130, 238, 146);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 89;
    transform-origin: bottom;
    transform:translateX(-50%)rotate(calc(var(--rotation) * 1deg));
    box-shadow: 1px 1px 6px rgb(0, 0, 0);
  }
    .sec{
      width:5px;
      height: 38%;
      background-color:#0bc4f7;
      box-shadow: 1px 1px 15px #0bc4f7;
    }
    .min{
      width:8px;
      height: 44%;
      background-color:#908e8e;
      box-shadow: 1px 1px 15px #535050;
    }
    .hour{
      width:12px;
      height: 30%;
      background-color:#908e8e;
      box-shadow: 1px 1px 15px #908e8e;
    }
}
footer{
display: flex;
position: absolute;
right:280px;bottom: 25px;
font-family: 'Cardo', serif;
padding-top: 5px;
text-shadow:1px 2px 8px rgb(96, 91, 91)  ;
h2{
 margin-top: -14px;
 margin-right: 6px;
 color:rgb(66, 65, 63);
}
h1{
  color: rgb(66, 65, 63);
}
}

